<html>
  {{template "header.html" .}}
  <body>
    <div class="container">
      <div>
	<table class="table table-condensed table-bordered">
	  <thead>
	    <tr>
	      <td>Plug</td>
	      <td>Action</td>
	    </tr>
	  </thead>
	  <tbody>
	    {{range .Info}}
	    <tr id="{{.ID}}" data-toggle="tooltip" title="ON" class="success">
	      <td><a href="/plug/{{.ID}}">{{.Name}}</a></td>
	      <td><button id="btn-{{.ID}}" onclick="SendChangeState({{.ID}})" class="btn btn-primary"><span class="glyphicon glyphicon-off"></span></button></td>
	    </tr>
	    {{end}}
	  </tbody>
	</table>
	<br>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
