<html>
  {{template "header.html" .}}
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker3.min.css">
  <body>
    <div class="container">
      <div id="NameText"><h1 id="NameTextH1" style="display:inline-block;">{{.Extra.Name}}</h1>&nbsp;<span onclick="ChangeInput()" style="cursor: pointer;color:#337ab7;" class="glyphicon glyphicon-pencil"></span></div>
      <div id="NameInput" style="display:none" class="input-group col-lg-4 input-group-lg">
	<input id="name" maxlength="20" type="text" class="form-control" value="{{.Extra.Name}}">
	<span class="input-group-btn">
	  <button class="btn btn-primary" type="button" onclick="SendName({{.Extra.ID}}, document.getElementById('name').value)">Update</button>
	</span>
      </div><!-- /input-group -->
      <br>
      <h2>Consumption Graph</h2>
      <div style="width:100%" id="graph-{{.Extra.ID}}">
      </div>

      <div style="margin-left:auto" class='col-md-5'>
	<div class="form-group">
	  <div class='input-group date' id='datetimepicker6'>
	    <input id="StartDate" data-date-format="yyyy-mm-dd" data-provide="datepicker" type='text' class="form-control" />
	    <span class="input-group-addon">
	      <span class="glyphicon glyphicon-calendar"></span>
	    </span>
	  </div>
	</div>
      </div>
      <div class='col-md-5'>
	<div class="form-group">
	  <div class='input-group date' id='datetimepicker7'>
	    <input id="EndDate" data-date-format="yyyy-mm-dd" data-provide="datepicker" type='text' class="form-control" />
	    <span class="input-group-addon">
	      <span class="glyphicon glyphicon-calendar"></span>
	    </span>
	  </div>
	</div>
      </div>
      <div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-primary" onclick="StatusRange({{.Extra.ID}})">Request</button>
	<button type="button" class="btn btn-danger" onclick="SendStatus({{.Extra.ID}})">Live</button>
      </div>

      <br><br>
      <h2>Schedules</h2>

	<table class="table table-condensed table-bordered">
	  <thead>
	    <tr>
	      <td>Name</td>
	      <td>Start Time</td>
	      <td>End Time</td>
	    </tr>
	  </thead>
	  <tbody>
	    {{range .Extra.Schedules}}
	    {{if gt .Flag 0}}
	    <tr class="success">
	      <td>{{.Name}}</td>
	      <td>{{.StartHour}}:{{.StartMinute}}</td>
	      <td>{{.EndHour}}:{{.EndMinute}}</td>
	    </tr>
	    {{end}}
	    {{end}}
	  </tbody>
	</table>

    </div>
    <script src="/js/dygraph-combined.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/plug.js"></script>
    <script src="/js/graph.js"></script>
  </body>
</html>
